@media only screen and (max-width: 1024px){
    header{
        background: hsl(193, 100%, 96%) url(./images/bg-hero-mobile.svg) no-repeat;
        padding: 15px;

    }

    nav{
        margin-bottom: 85px;
    }

    nav .logo img{
        width: 50%;
    }

    nav button{
        padding: 6px;
        font-size: 15px;
        width: 40%;
    }

    #intro{
        flex-direction: column;
        text-align: center;
    }

    .content{
        width: 100%;
        padding: 10px;
    }

    .content h1{
        font-size: 28px;
    }

    .content p{
        font-size: 17px;
        margin-bottom: 30px;
    }

    .content button{
        width: 80%;
        margin-bottom: 50px;
    }

    #intro img{
        width: 85%;
        margin-bottom: 30px;
    }
    
    main{
        margin-top: 50px;
    }
    .card{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 50px 35.2px;
    }
    .item-2{
        flex-direction: column;
    }
    .card img{
        width: 100%;
        margin-bottom: 50px;
    }

    .content-1, .content-2, .content-3{
    width: 100%;
    text-align: center;
    }
    .content-1 h1, .content-2 h1, .content-3 h1{
        font-size: 20px;
    }
    .content-1 p, .content-2 p, .content-3 p{
    font-size: 14px;
    }

    .content-1 p{
        width: 105%;
    }

    .call-to-action{
        flex-direction: column;
        width: 95%;
        font-size: 8px;
        padding: 40px 10px;
        top: 120px;
    }
    .call-to-action button{
        width: 200px;
        font-size: 10px;
    }

    .useful-links{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px ;
        font-size: 14px;
    }
    .footer-logo{
        width: 50%;
        margin-left: 15px;
    }

    .col-1{
        width: 100%;
    }
    .col-1, .col-2, .col-3{
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
    .col-4{
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .social .fa-brands{
        margin-bottom: 20px;
    }
    .copy{
        text-align: center;
        font-size: 12px;
        margin-bottom: 30px;
    }
}